/*====01===site defult css====*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container-full{
	width: 100%;
}

.container{
	width: 1250px;
	margin: 0 auto;
}

.container-full:before,
.container-full:after,
.container:before,
.container:after{
	content: "";
	clear: both;
	display: table;
}
body{
	font-family: 'Rubik', sans-serif;
}

.call-50{
	width: 50%;
	float:left;
	padding: 0 15px;
}

.call-100{
	width: 100%;
	float:left;
	padding: 0 15px;
}

.call-33{
	width: 33.33%;
	float:left;
	padding: 0 15px;
}

.call-25{
	width: 25%;
	float:left;
	padding: 0 15px;
}

.call-20{
	width: 20%;
	float:left;
	padding: 0 15px;
}

.call-60{
	width: 60%;
	float:left;
	padding: 0 15px;
}

/*google font link here*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&family=Nunito:wght@400;700;800&family=Rubik:wght@300;400&display=swap');

/*font-family: 'Nunito', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Rubik', sans-serif;*/

h1,h2,h3,h4,h5,h6{
	font-family: 'Nunito', sans-serif;
}

p{
	font-family: 'Rubik', sans-serif;
}

.section-padding{
	padding-top: 100px;
	padding-bottom: 100px;
}

.section-padding-top{
	padding-top: 100px;
}

.section-padding-bottom{
	padding-bottom: 100px;
}

.btn{
	text-transform: uppercase;
	border-radius: 5px;
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	text-decoration: none;
	background: #fe5421;
	padding: 12px 20px;
	font-family: 'Rubik', sans-serif;
}

/*====02===header css====*/

header{
	
	width: 100%;
	padding: 25px 0;
	position: fixed;
}

.logo img{
	height: 100%;
	width: 198px;
}
.main-menu{
	margin: 0 auto;
	display: table;

}
.main-menu li{
	list-style: none;
	display: inline-block;
}
.main-menu li a{
	color: #ffffff;
	text-decoration: none;
	font-size: 15px;
	font-weight: 700;
	font-family: 'Rubik', sans-serif;
	text-transform: uppercase;
	padding: 10px 17px;
	display: inline-block;
	transition: .3s;

}
.header-icon li{
	list-style: none;
	display: inline-block;
	padding: 10px 10px;
	font-size: 14px;
	color: #fff;
	margin-left: 5px;
	cursor: pointer;
	transition: .3s;

}
.main-menu li a:hover,
.header-icon li:hover{
	color: #ff5421;

}
.icon-border{
	border: 1px solid #fff;
	height: 38px;
	width: 38px;
	border-radius: 50%;
	text-align: center;
}

/*====03===home css====*/
#home{
	background: url("../pictures/home1.jpg") no-repeat center/cover;
	width: 100%;
	height: 180vh;
}
#home .call-60{
	display: contents;
	margin: 0 auto;
}
.home-content{
	text-align: center;
	color: #fff;
	padding: 250px 0 190px 0;
}
.home-content h6{
	color: #ff5421;
	font-size: 22px;
	font-weight: 700;
	line-height: 30px;
	font-family: 'Rubik', sans-serif;
	text-transform: uppercase;

}
.home-content h1{
	color: #ffffff;
	font-size: 70px;
	font-weight: 700;
	line-height: 85px;
	font-family: 'Nunito', sans-serif;
	text-transform: capitalize;
	margin: 40px 0;	

}
.home-content button{
	background: #ff5421;
	color: #ffffff;
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	border: none;
	text-transform: uppercase;
	padding: 15px 20px;
	border-radius: 5px;
	cursor: pointer;
	transition: .3s;
}
.home-content button:hover{
	background: #171f32;
}
.home-box{
	background: #171f32;
	color: #ffffff;
	display: flex;
	padding: 25px 40px 25px;
	position: relative;
	border-radius: 5px;
	transition: .5s;
}
.home-box img{
	width: 80px;
    

	padding-right: 20px;
}
.hm-box-content h4{
	font-size: 22px;
	font-weight: 700;
	line-height: 40px;
}
.hm-box-content p{
	font-size: 16px;
	font-weight: 400;
}
.home-box:hover{
	margin-top: -20px;
}

/*====04===category css====*/

.section-title{
	text-align: center;
	padding-bottom: 50px;
}
.section-title span{
	color: #ff5421;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 28px;
	font-family: 'Rubik', sans-serif;
	font-weight: 700;
	padding-bottom: 15px;
	display: inline-block;

}
.section-title h3{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: 46px;
	color: #101010;
	text-transform: capitalize;

}
.category-box{
	background: url("../pictures/ctg-back1.jpg") no-repeat center/cover;
	background-color: #171f32;
	padding: 271px 10px 40px 40px;
	margin-bottom: 30px;
	display: flex;
	width: 100%;
	height: 360px;
	position: relative;
	z-index: 1;
	transition: .3s;


}
.category-box:hover{
	transform: translateY(-10px);
}
.category-box:before{
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background: #000;
	left: 0;
	top:0;
	z-index: -1;
	opacity: .4;
}
.category-box2{
	background: url("../pictures/ctg-back2.jpg") no-repeat center/cover;
}
.category-box3{
	background: url("../pictures/ctg-back3.jpg") no-repeat center/cover;
}
.category-box4{
	background: url("../pictures/ctg-back4.jpg") no-repeat center/cover;
}
.category-box5{
	background: url("../pictures/ctg-back5.jpg") no-repeat center/cover;
}
.category-box6{
	background: url("../pictures/ctg-back6.jpg") no-repeat center/cover;
}
.category-box img{
	width: 60px;


}
.ctg-content{
	color: #ffffff;
	padding: 10px 0 10px 20px; 

}
.ctg-content a{
	font-size: 22px;
	font-weight: 700;
	text-decoration: none;
	color: #ffffff;
	text-transform: capitalize;


}
.ctg-content span{
	font-size: 16px;

}
.catagory-btn{
	text-align: center;
	padding-top: 60px;
}
.catagory-btn a{
	display: inline-block;
	transition: .3s;
}
.catagory-btn a:hover{
	background: #171f32; 
}


/*.....courses css.....*/

.courses{
	background: #f8f7f7;
}
.courses-box{
	background: #ffffff;
	border-radius: 5px;
}
.courses-bg{
	position: relative;
	overflow: hidden;
	
}
.courses-bg img{
	width: 100%;
	height: 220px;
	transition: .7s;
}
.courses-bg span{
	text-transform: capitalize;
	font-size: 15px;
	font-weight: 700;
	background: #fe5421;
	color: #ffffff;
	padding: 7px 12px;
	border-radius: 5px;
	font-family: 'Rubik', sans-serif;
	position: absolute;
	top: 15px;
	right: 15px;
}
.courses-bg:hover img{
	transform: scale(1.07);
}
.courses-content{
	padding: 30px;
	margin-bottom: 30px;
}
.courses-content .rating{
	font-size: 15px;
	color: #fbb803;
	line-height: 15px;
	font-weight: 400;
}
.courses-content .rating span{
	color: #505050;
	font-family: 'Rubik', sans-serif;
	line-height: 26px;
	font-weight: 500;
}
.courses-content h3{
	padding: 25px 0;
}
.courses-content h3 a{
	color: #101010;
	text-transform: capitalize;
	font-size: 22px;
	text-decoration: none;
	font-weight: 700;
	line-height: 30px;
	font-family: 'Nunito', sans-serif;
	transition: .3s;
}
.courses-content h3 a:hover{
	color: #fe5421;
}
.courses-footer{
	border-top: 1px solid #ddd;
	padding: 15px 0 30px 0;
}
.courses-footer-left,
.courses-footer-right{
	font-size: 14px;
	color: #363636;
	line-height: 26px;
	font-weight: 500;
	font-family: 'Rubik', sans-serif;
	float: left;
}
.courses-footer-left i,
.courses-footer-right i{
	color: #fe5421;
}
.courses-footer-right{
	float: right;
}
.courses.section-padding{
	padding-bottom: 70px;
}

/*-----courses offer------*/



.offer-content{
	background: url(../pictures/offer1.jpg) no-repeat center/cover;
	height: 100%;
	width: 50%;
	padding: 130px 86px;
	position: relative;
	z-index: 1;
	color: #ffffff;
	float: right;
}
.offer-content:after{
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background:#010417;
	left:0;
	top: 0;
	opacity: .7;
	z-index: -1;
}
.offer-content:before{
	content: "";
	position: absolute;
	background: url(../pictures/offer1.jpg) no-repeat center/cover;
	height: 100%;
	width: 100%;
	margin-left: -100%;
	left:0;
	top: 0;
}

.offer-content h3{
	font-size: 36px;
	font-weight: 700;
	line-height: 46px;
	color: #ffffff;
	font-family: 'Nunito', sans-serif;
}
.offer-content p{
	font-size: 16px;
	line-height: 30px;
	padding: 30px 61px 50px 0;
}
.course-offer .call-50{
	padding: 0;
}


/*-----faq part------*/

.faq-left{
	background: #f9f8f8;
	padding: 70px 50px;
}

.faq-right iframe{
	width: 100%;
	height: 505px;
}
.faq-left h3{
	font-size: 36px;
	text-transform: capitalize;
	padding-bottom: 30px;
}
.faq-left ul li{
	background: #ffffff;
	list-style: none;
	padding: 20px;
	margin-bottom: 15px;
	color: #111;
	font-size: 16px;
	cursor: pointer;
	transition: .3s;
}
.faq-left ul li:hover{
	background: #ff5421;
}
.faq .call-50{
	padding: 0;
}


/*-----testimonial part------*/


.testimonial{
	background: url(../pictures/testi1.jpg) no-repeat center/cover;
	height: 100%;
	width: 100%;
}
.testimonial .section-title h3{
	color: #ffffff;
}
.test-content{
	background: rgb(8 1 43 / 70%);
	text-align: center;
	padding: 70px 70px 110px 70px;
	color: #fff;
	font-size: 23px;
	line-height: 33px;
	font-style: italic;
}
.test-content img{
	height: 100px;
    width: 100px;
    margin-bottom: 15px;
}
.test-author{
	text-align: center;
	color: #fff;
	margin-top: -45px;
}
.test-author img{
	height: 90px;
	width: 90px;
	border-radius: 50%;
}
.test-author h6{
	text-transform: capitalize;
	font-size: 22px;
	padding: 10px 0;
}
.test-author span{
	text-transform: capitalize;
	font-size: 15px;
}


/*-----news part------*/

.news-item{
	-webkit-box-shadow: 7px 11px 17px -1px #454545; 
	box-shadow: 7px 11px 17px -1px #454545;
	overflow: hidden;
}
.news-item img{
	width: 100%;
	height: 270px;
}
.news-item:hover img{
	transform: translateY(-10px);
}
.news-item li{
	list-style: none;
	display: inline-block;
	text-transform: capitalize;
	font-size: 15px;
	color: #505050;
}
.news-content{
	padding: 30px 30px 0 30px;
	transition: .3s;
}
.news-item:hover .news-content{
	transform: translateY(-10px);
}
.news-content h3 a{
	color: #101010;
	text-decoration: none;
	font-size: 24px;
	font-weight: 700;
	transition: .3s;
}
.news-content h3 a:hover{
	color: #ff5421;
}
.news-content p{
	color: #505050;
	font-size: 15px;
	padding: 15px 0;
}
ul.admin-date{
	padding: 30px 0 20px;
}
li.date{
	padding-left: 50px;
}
.news-item i{
	color: #ff5421;
	padding-right: 8px;
}
li.read-more{
	float: right;

}
li.read-more a{
	text-decoration: none;
	color: #505050;
}
ul.news-footer{
	border-top: 1px solid #ddd;
	padding: 15px 0;
}
